*{
	box-sizing: border-box;
}
body{
	color: #000;
	margin: 0px;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
figure{
	margin: 0;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container{
	max-width: 1200px;
	margin: auto;
	position: relative;
	z-index: 1;
}
header{
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.7);
}
header .logo{
	float: left;
}
header .logo img{
	display: inline-block;
	vertical-align: middle;
}
header .logo span.siteName{
	font-size:3em;
	vertical-align: middle;
	color: #fff;
	font-family: 'Tangerine', serif;
}
header .topMenu{
	float: right;
}
header .topMenu li{
	float: left;
	margin: 20px;
}
header .topMenu li a{
	color: #ffffff;
	transition: color .5s;
}
header .topMenu li.active a,
header .topMenu li a:hover{
	color: #339BEB;
}
.banner{
    color: #fff;
	background: url(../img/banner.jpg) no-repeat center top;
	background-size: cover;
}
.banner .caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.banner .caption h1 span{
	color: #339BEB;
}
.banner .caption p{
	text-align: left;
	line-height: 1.8;
}
.banner .caption p em{
	background-color:rgba(255,255,255,.5);
	color: #000;
	padding: 2px 4px;
	font-style: normal;
	text-shadow: none;
}
section{
	padding: 50px 0px;
	line-height: 2;
	min-height: 400px;
	position: relative;
}
section:nth-of-type(2n+3)::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
section h2{
	text-align: center;
	margin: 0px;
}
section h2+p{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 60px;
}
.about .img{
	width: 49%;
	float: left;
}
.about .img img{
	width: 100%;
	height: auto;
}
.about .note{
	width: 49%;
	float: right;
	text-align: left;
}
.about .note p:first-child{
	margin-top: 0px;
}
.about .note ul{
	counter-reset:testname 0;
}
.about .note li{
	counter-increment:testname 1;
	position: relative;
	padding-left: 2em;
	cursor: pointer;
	list-style: none;
}
.about .note li::before{
	content:counter(testname);
	width: 1.2em;
	height: 1.2em;
	border: 1px dashed #000;
	text-align: center;
	line-height: 1.2;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	top: 0.3em;
	transition:transform .5s;
	transform: translate(0px);
}
.about .note li:hover::before{
	transform: translate(0.5em);
}
.service{
	min-height: 600px;
	background: url(../img/desktop.jpg) center center no-repeat;
	background-size: cover;
}
.service li{
	float: left;
	width: 48%;
	margin-right: 4%;
	text-align: right;
	cursor: pointer;
	min-height: 80px;
}
.service li::after{
	content: "";
	display: table;
	clear: both;
}
.service li:nth-child(2n){
	margin-right: 0px;
	text-align: left;
	
}
.service li i{
	float: right;
	padding: 12px 0px 12px 20px;
	transition: transform .5s,color .5s;
}
.service li:hover i{
	transform: scale(1.2);
	color: #339BEB;
}
.service li:nth-child(2n) i{
	float: left;
	padding: 12px 20px 12px 0px;
}
.service li h3{
	display: inline-block;
}
.project .container figure{
	width: 20%;
	margin: 20px;
	float: left;
	position: relative;
}
.project .container figcaption{
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;
	top: 30%;
	font-size: 0.8em;
	background-color: rgba(255,255,255,.8);
}
.project .container img{
	width: 100%;
	height: auto;
	transition: transform .5s;
	vertical-align: top;
	overflow: hidden;
}
.project .container img:hover{
	transform: scale(1.25);
}
.project .container .time{
	position: relative;
	bottom: -30px;
	background-color: #339BEB;
	text-align: center;;
	width: 50px;
}
.project figure figcaption .time .month{
	background-color: rgba(0, 0, 0, 0.1);
}
.project .container .content{
}
.project figure figcaption h3{
	margin: 5px 0px 0px 70px;
}
.project figure figcaption p{
	line-height: 1.5;
}
.project  figure figcaption .data{
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 0.8em;
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: right;
	background-color: rgba(0,0,0,.2);
}
